:root {
  --main-color: rgb(0, 0, 0);
}

/* Start Global Rules */
* { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}
html, body {
  font-family: "Work Sans", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* منع التمرير */
}

/* Container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width:768px) {
  .container {
    width: 750px;
  } 
}
/* Medium */
@media (min-width:992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.header .links .icon span {
  display: block;
  background-color: #333;
  height: 3px;
  width: 100%;
  margin-bottom: 5px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 50%;
  transition: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none; /* اجعلها مخفية افتراضيًا */
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.header .links:hover ul {
  display: block;
}

.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  position: absolute;
  top: -10px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f6f6f6;
}

.header .links ul li a {
  display: block; 
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 30px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Header */

/* Start Landing */
.landing {
  background-image: url(../image/بلبل.webp); /* تأكد من أن الصورة موجودة ومسماة بشكل صحيح */
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing .intro-text {
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}
.landing .intro-text p {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.8;
  color: rgb(0, 4, 255);
}

/* End Landing */
